.filter-outline {
  height: 16px;
  width: 16px;
}

.filter-outline .filter {
  height: 16px !important;
  width: unset !important;
}

.filter-outline .icons-list-filter-instance {
  height: 13px !important;
  left: 3px !important;
  top: 2px !important;
  width: 11px !important;
}
