.icons-list-filter {
  height: 24px;
  position: relative;
  width: 24px;
}

.icons-list-filter .union {
  position: absolute;
}

.icons-list-filter .off {
  height: 17px;
  left: 5px;
  top: 5px;
  width: 14px;
}

.icons-list-filter .on {
  height: 18px;
  left: 4px;
  top: 4px;
  width: 16px;
}
