.popup-frame {
  background-color: #ffffff;
  height: 731px;
  position: relative;
  width: 635px;
}

.popup-frame .all-content-frame {
  height: 698px;
  left: 21px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  top: 17px;
  width: 594px;
}

.popup-frame .AMAZON-MAIN-FRAME {
  height: 157px;
  left: 10px;
  position: absolute;
  top: 768px;
  width: 573px;
}

.popup-frame .overlap {
  height: 163px;
  position: relative;
  top: -6px;
  width: 574px;
}

.popup-frame .AMAZON-ROW {
  height: 157px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 574px;
}

.popup-frame .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 217px;
}

.popup-frame .amazon-frame {
  height: 132px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 25px;
  width: 572px;
}

.popup-frame .amazon-group {
  height: 126px;
  position: relative;
  top: 4px;
  width: 869px;
}

.popup-frame .group {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .overlap-group {
  height: 126px;
  position: relative;
}

.popup-frame .rectangle {
  height: 110px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 98px;
}

.popup-frame .arrow {
  height: 38px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 38px;
}

.popup-frame .overlap-wrapper {
  height: 126px;
  left: 126px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .div {
  background-color: #d9d9d9;
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.popup-frame .overlap-group-wrapper {
  height: 126px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .div-wrapper {
  height: 126px;
  left: 378px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .group-2 {
  height: 126px;
  left: 504px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .group-3 {
  height: 126px;
  left: 630px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .group-4 {
  height: 126px;
  left: 756px;
  position: absolute;
  top: 0;
  width: 113px;
}

.popup-frame .save-all {
  height: 31px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.popup-frame .ETSY-MAIN-FRAME {
  height: 180px;
  left: 10px;
  position: absolute;
  top: 946px;
  width: 572px;
}

.popup-frame .overlap-2 {
  height: 185px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .ETSY-ROW {
  height: 180px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .etsy-frame {
  height: 151px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 29px;
  width: 572px;
}

.popup-frame .etsy-group {
  height: 142px;
  position: relative;
  top: 9px;
  width: 1073px;
}

.popup-frame .group-5 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .overlap-group-2 {
  height: 142px;
  position: relative;
}

.popup-frame .group-6 {
  background-image: url(https://c.animaapp.com/cFf6Cu8i/img/rectangle-34-7@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .img {
  height: 38px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 104px;
  width: 38px;
}

.popup-frame .group-7 {
  height: 142px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-8 {
  background-image: url(https://c.animaapp.com/cFf6Cu8i/img/rectangle-34-6@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-9 {
  height: 142px;
  left: 272px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-10 {
  background-image: url(https://c.animaapp.com/cFf6Cu8i/img/rectangle-34-5@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-11 {
  height: 142px;
  left: 408px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-12 {
  background-color: #d9d9d9;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-13 {
  height: 142px;
  left: 544px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-14 {
  height: 142px;
  left: 680px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-15 {
  height: 142px;
  left: 816px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .group-16 {
  height: 142px;
  left: 952px;
  position: absolute;
  top: 0;
  width: 121px;
}

.popup-frame .save-all-2 {
  height: 31px;
  left: 541px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.popup-frame .ALIEXPRESS-MAIN {
  height: 159px;
  left: 10px;
  position: absolute;
  top: 1972px;
  width: 572px;
}

.popup-frame .ALIEXPRESS-ROW {
  height: 164px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .aliexpress-frame {
  height: 130px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 34px;
  width: 572px;
}

.popup-frame .aliexpress-group {
  height: 130px;
  left: 1px;
  position: relative;
  width: 626px;
}

.popup-frame .group-17 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .overlap-group-3 {
  height: 129px;
  position: relative;
}

.popup-frame .arrow-2 {
  height: 38px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 91px;
  width: 38px;
}

.popup-frame .group-18 {
  height: 129px;
  left: 129px;
  position: absolute;
  top: 1px;
  width: 110px;
}

.popup-frame .group-19 {
  height: 129px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-20 {
  height: 129px;
  left: 387px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-21 {
  height: 129px;
  left: 516px;
  position: absolute;
  top: 1px;
  width: 110px;
}

.popup-frame .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 217px;
}

.popup-frame .REDDIT-MAIN-FRAME {
  height: 158px;
  left: 10px;
  position: absolute;
  top: 2349px;
  width: 572px;
}

.popup-frame .overlap-3 {
  height: 163px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .div-2 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .div-wrapper-2 {
  height: 129px;
  left: 0;
  overflow-x: scroll;
  position: absolute;
  top: 29px;
  width: 572px;
}

.popup-frame .reddit-group {
  height: 129px;
  position: relative;
  width: 369px;
}

.popup-frame .group-22 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 0;
  width: 111px;
}

.popup-frame .arrow-3 {
  height: 38px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 91px;
  width: 38px;
}

.popup-frame .group-23 {
  height: 129px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 111px;
}

.popup-frame .group-24 {
  height: 129px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 111px;
}

.popup-frame .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 214px;
}

.popup-frame .SHEIN-MAIN-FRAME {
  height: 158px;
  left: 10px;
  position: absolute;
  top: 2543px;
  width: 572px;
}

.popup-frame .temu-MAIN-FRAME {
  height: 158px;
  left: 11px;
  position: absolute;
  top: 2737px;
  width: 572px;
}

.popup-frame .temu-group {
  height: 124px;
  position: relative;
  width: 517px;
}

.popup-frame .group-wrapper {
  height: 124px;
  left: 0;
  position: absolute;
  top: 0;
  width: 115px;
}

.popup-frame .group-25 {
  height: 124px;
}

.popup-frame .overlap-group-4 {
  height: 124px;
  position: relative;
  width: 115px;
}

.popup-frame .rectangle-2 {
  background-color: #d9d9d9;
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 102px;
}

.popup-frame .arrow-4 {
  height: 38px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 38px;
}

.popup-frame .reddit-group-2 {
  height: 124px;
  left: 134px;
  position: absolute;
  top: 0;
  width: 115px;
}

.popup-frame .reddit-group-3 {
  height: 124px;
  left: 269px;
  position: absolute;
  top: 0;
  width: 115px;
}

.popup-frame .reddit-group-4 {
  height: 124px;
  left: 402px;
  position: absolute;
  top: 0;
  width: 115px;
}

.popup-frame .ALIBABA-MAIN-FRAME {
  height: 145px;
  left: 10px;
  position: absolute;
  top: 1803px;
  width: 572px;
}

.popup-frame .overlap-4 {
  height: 150px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .ALIBABA-ROW {
  height: 145px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 218px;
}

.popup-frame .alibaba-frame {
  height: 118px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 27px;
  width: 572px;
}

.popup-frame .alibaba-group {
  height: 135px;
  position: relative;
  top: -17px;
  width: 628px;
}

.popup-frame .group-26 {
  height: 134px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .overlap-group-5 {
  height: 134px;
  position: relative;
}

.popup-frame .rectangle-3 {
  background-color: #d9d9d9;
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.popup-frame .arrow-5 {
  height: 39px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 38px;
}

.popup-frame .group-27 {
  height: 134px;
  left: 129px;
  position: absolute;
  top: 1px;
  width: 112px;
}

.popup-frame .group-28 {
  height: 134px;
  left: 258px;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .group-29 {
  height: 134px;
  left: 387px;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .group-30 {
  height: 134px;
  left: 516px;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .PINTEREST-MAIN-FRAME {
  height: 232px;
  left: 10px;
  position: absolute;
  top: 1147px;
  width: 572px;
}

.popup-frame .overlap-5 {
  height: 237px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .PINTEREST-ROW {
  height: 232px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 222px;
}

.popup-frame .pinterest-frame {
  height: 207px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 25px;
  width: 572px;
}

.popup-frame .pinterest-group {
  height: 201px;
  position: relative;
  top: 4px;
  width: 760px;
}

.popup-frame .group-31 {
  height: 199px;
  left: 0;
  position: absolute;
  top: 0;
  width: 136px;
}

.popup-frame .overlap-group-6 {
  height: 199px;
  position: relative;
}

.popup-frame .rectangle-4 {
  background-color: #d9d9d9;
  height: 185px;
  left: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.popup-frame .arrow-6 {
  height: 38px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 161px;
  width: 38px;
}

.popup-frame .group-32 {
  height: 199px;
  left: 156px;
  position: absolute;
  top: 2px;
  width: 136px;
}

.popup-frame .group-33 {
  height: 199px;
  left: 312px;
  position: absolute;
  top: 0;
  width: 136px;
}

.popup-frame .group-34 {
  height: 199px;
  left: 468px;
  position: absolute;
  top: 0;
  width: 136px;
}

.popup-frame .group-35 {
  height: 192px;
  left: 625px;
  position: absolute;
  top: 0;
  width: 135px;
}

.popup-frame .overlap-6 {
  height: 192px;
  position: relative;
}

.popup-frame .arrow-7 {
  height: 38px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 38px;
}

.popup-frame .INSTAGRAM-MAIN-FRAME {
  height: 219px;
  left: 10px;
  position: absolute;
  top: 1398px;
  width: 572px;
}

.popup-frame .overlap-7 {
  height: 224px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .INSTAGRAM-ROW {
  height: 219px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .instagram-frame {
  height: 190px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 29px;
  width: 572px;
}

.popup-frame .instagram-group {
  height: 190px;
  position: relative;
  width: 1182px;
}

.popup-frame .group-36 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .overlap-group-7 {
  height: 190px;
  position: relative;
}

.popup-frame .rectangle-5 {
  background-color: #d9d9d9;
  height: 171px;
  left: 0;
  position: absolute;
  top: 0;
  width: 137px;
}

.popup-frame .arrow-8 {
  height: 38px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 152px;
  width: 38px;
}

.popup-frame .group-37 {
  height: 190px;
  left: 171px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .group-38 {
  height: 190px;
  left: 342px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .group-39 {
  height: 190px;
  left: 513px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .group-40 {
  height: 190px;
  left: 684px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .group-41 {
  height: 190px;
  left: 855px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .group-42 {
  height: 190px;
  left: 1026px;
  position: absolute;
  top: 0;
  width: 156px;
}

.popup-frame .TWITTER-MAIN-FRAME {
  height: 138px;
  left: 10px;
  position: absolute;
  top: 1641px;
  width: 572px;
}

.popup-frame .overlap-8 {
  height: 143px;
  position: relative;
  top: -5px;
  width: 574px;
}

.popup-frame .TWITTER-ROW {
  height: 138px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 574px;
}

.popup-frame .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 214px;
}

.popup-frame .twitter-frame {
  height: 109px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 29px;
  width: 572px;
}

.popup-frame .twitter-group {
  height: 109px;
  position: relative;
  width: 737px;
}

.popup-frame .group-43 {
  height: 109px;
  left: 0;
  position: absolute;
  top: 0;
  width: 173px;
}

.popup-frame .overlap-group-8 {
  height: 109px;
  position: relative;
}

.popup-frame .rectangle-6 {
  background-color: #d9d9d9;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.popup-frame .arrow-9 {
  height: 38px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 38px;
}

.popup-frame .group-44 {
  height: 109px;
  left: 188px;
  position: absolute;
  top: 0;
  width: 173px;
}

.popup-frame .group-45 {
  height: 109px;
  left: 376px;
  position: absolute;
  top: 0;
  width: 173px;
}

.popup-frame .group-46 {
  height: 109px;
  left: 564px;
  position: absolute;
  top: 0;
  width: 173px;
}

.popup-frame .TIKTOK-MAIN-FRAME {
  height: 201px;
  left: 14px;
  overflow: hidden;
  position: absolute;
  top: 54px;
  width: 569px;
}

.popup-frame .overlap-9 {
  height: 206px;
  position: relative;
  top: -5px;
  width: 571px;
}

.popup-frame .TIKTOK-ROW {
  height: 201px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 571px;
}

.popup-frame .tiktok-frame {
  height: 171px;
  left: 0;
  overflow-x: scroll;
  position: absolute;
  top: 30px;
  width: 569px;
}

.popup-frame .tiktok-group {
  height: 177px;
  position: relative;
  top: -5px;
  width: 1174px;
}

.popup-frame .group-47 {
  height: 175px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 103px;
}

.popup-frame .overlap-group-9 {
  height: 175px;
  position: relative;
}

.popup-frame .rectangle-7 {
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.popup-frame .arrow-10 {
  height: 38px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 38px;
}

.popup-frame .group-48 {
  height: 175px;
  left: 119px;
  position: absolute;
  top: 1px;
  width: 103px;
}

.popup-frame .rectangle-8 {
  height: 159px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 88px;
}

.popup-frame .group-49 {
  height: 175px;
  left: 238px;
  position: absolute;
  top: 1px;
  width: 103px;
}

.popup-frame .group-50 {
  height: 175px;
  left: 357px;
  position: absolute;
  top: 1px;
  width: 103px;
}

.popup-frame .group-51 {
  height: 175px;
  left: 476px;
  position: absolute;
  top: 0;
  width: 103px;
}

.popup-frame .group-52 {
  height: 175px;
  left: 595px;
  position: absolute;
  top: 2px;
  width: 103px;
}

.popup-frame .group-53 {
  height: 175px;
  left: 714px;
  position: absolute;
  top: 2px;
  width: 103px;
}

.popup-frame .group-54 {
  height: 175px;
  left: 833px;
  position: absolute;
  top: 2px;
  width: 103px;
}

.popup-frame .group-55 {
  height: 175px;
  left: 952px;
  position: absolute;
  top: 2px;
  width: 103px;
}

.popup-frame .rectangle-9 {
  background-color: #d9d9d9;
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.popup-frame .group-56 {
  height: 175px;
  left: 1071px;
  position: absolute;
  top: 1px;
  width: 103px;
}

.popup-frame .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 81px;
}

.popup-frame .save-all-3 {
  height: 31px;
  left: 538px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.popup-frame .FB-ADS-LIBRARY-MAIN {
  height: 156px;
  left: 11px;
  position: absolute;
  top: 280px;
  width: 572px;
}

.popup-frame .overlap-10 {
  height: 162px;
  position: relative;
  top: -6px;
  width: 574px;
}

.popup-frame .FACEBOOK-ADS-LIBRARY {
  height: 156px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 574px;
}

.popup-frame .facebook-ads-frame {
  height: 128px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 28px;
  width: 572px;
}

.popup-frame .facebook-ads-group {
  height: 129px;
  position: relative;
  width: 884px;
}

.popup-frame .group-57 {
  height: 129px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-58 {
  height: 129px;
  left: 516px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-59 {
  height: 129px;
  left: 645px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .group-60 {
  height: 129px;
  left: 774px;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-frame .YOUTUBE-MAIN-FRAME {
  height: 163px;
  left: 10px;
  position: absolute;
  top: 452px;
  width: 572px;
}

.popup-frame .overlap-11 {
  height: 169px;
  position: relative;
  top: -6px;
  width: 574px;
}

.popup-frame .YOUTUBE-ROW {
  height: 163px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 574px;
}

.popup-frame .overlap-12 {
  height: 163px;
  position: relative;
  width: 572px;
}

.popup-frame .youtube-frame {
  height: 145px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 18px;
  width: 572px;
}

.popup-frame .youtube-group {
  height: 133px;
  position: relative;
  top: 11px;
  width: 986px;
}

.popup-frame .group-61 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 182px;
}

.popup-frame .overlap-group-10 {
  height: 133px;
  position: relative;
}

.popup-frame .rectangle-10 {
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
}

.popup-frame .arrow-11 {
  height: 38px;
  left: 144px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 38px;
}

.popup-frame .group-62 {
  height: 133px;
  left: 201px;
  position: absolute;
  top: 0;
  width: 182px;
}

.popup-frame .group-63 {
  height: 133px;
  left: 402px;
  position: absolute;
  top: 0;
  width: 182px;
}

.popup-frame .group-64 {
  height: 133px;
  left: 603px;
  position: absolute;
  top: 0;
  width: 182px;
}

.popup-frame .rectangle-11 {
  background-color: #d9d9d9;
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
}

.popup-frame .group-65 {
  height: 133px;
  left: 804px;
  position: absolute;
  top: 0;
  width: 182px;
}

.popup-frame .GOOGLE-BLOGS-MAIN {
  height: 116px;
  left: 10px;
  position: absolute;
  top: 634px;
  width: 573px;
}

.popup-frame .overlap-13 {
  height: 124px;
  position: relative;
  top: -8px;
}

.popup-frame .GOOGLE-BLOGS-ROW {
  height: 116px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 565px;
}

.popup-frame .google-blogs-frame {
  height: 88px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 28px;
  width: 563px;
}

.popup-frame .google-blogs-group {
  height: 88px;
  position: relative;
  width: 757px;
}

.popup-frame .group-66 {
  height: 87px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 141px;
}

.popup-frame .overlap-group-11 {
  height: 87px;
  position: relative;
}

.popup-frame .rectangle-12 {
  height: 74px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 129px;
}

.popup-frame .arrow-12 {
  height: 38px;
  left: 103px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 38px;
}

.popup-frame .group-67 {
  height: 87px;
  left: 154px;
  position: absolute;
  top: 1px;
  width: 141px;
}

.popup-frame .rectangle-13 {
  background-color: #d9d9d9;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 129px;
}

.popup-frame .group-68 {
  height: 87px;
  left: 308px;
  position: absolute;
  top: 1px;
  width: 141px;
}

.popup-frame .group-69 {
  height: 87px;
  left: 462px;
  position: absolute;
  top: 1px;
  width: 141px;
}

.popup-frame .group-70 {
  height: 87px;
  left: 616px;
  position: absolute;
  top: 0;
  width: 141px;
}

.popup-frame .filter-group {
  height: 26px;
  left: 515px;
  position: absolute;
  top: 12px;
  width: 81px;
}

.popup-frame .overlap-14 {
  height: 26px;
  position: relative;
  width: 79px;
}

.popup-frame .text-wrapper-8 {
  color: #000000;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 63px;
}

.popup-frame .filter-outline-instance {
  left: 55px !important;
  position: absolute !important;
  top: 5px !important;
}

.popup-frame .polygon {
  height: 6px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.popup-frame .rectangle-14 {
  border: 0.5px solid;
  border-color: #000000a1;
  border-radius: 5px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.popup-frame .CONTENT-NINJA {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 109px;
}

.popup-frame .FACEBOOK-MAIN-FRAME {
  height: 158px;
  left: 10px;
  position: absolute;
  top: 2155px;
  width: 572px;
}

.popup-frame .facebook-group {
  height: 129px;
  position: relative;
  width: 493px;
}

.popup-frame .group-71 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .arrow-13 {
  height: 38px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 91px;
  width: 38px;
}

.popup-frame .group-72 {
  height: 129px;
  left: 127px;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .group-73 {
  height: 129px;
  left: 254px;
  position: absolute;
  top: 0;
  width: 112px;
}

.popup-frame .group-74 {
  height: 129px;
  left: 381px;
  position: absolute;
  top: 0;
  width: 112px;
}
